@tailwind base;
@tailwind components;
@tailwind utilities;

/* hardcoded CSS for things tailwind can't deal with */

html {
    scroll-behavior: smooth;
    cursor: none;
    /* for some reason setting cursor-none on html wasn't enough to do it */
    button, a {
        cursor: none;
    }
}


/* Classes added for Accessibility ------------------------------------------------- */

.accessibility-class:focus-visible {
        outline: #007acc solid 3px; /* Example color for focus outline */
        z-index: 9999;
}

@media (prefers-reduced-motion: reduce) {

    html {
        cursor: default;
        scroll-behavior: auto;
    }

    .no-motion {
        animation: none !important; /* disable animations */
        transition: none !important; /* disable transitions */
    }

    #tsparticles {
        display: none !important;
    }

    .no-motion-2 {
        display: none !important;
    }

}


#site-wrapper {
    @apply relative mx-auto max-w-[118.75rem] overflow-hidden px-2  sm:px-12 md:px-24 lg:flex lg:px-0;

    font-family:
        "nunito sans",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;

    /* This is to add a top margin to all sections instead of sitting them individually */
    section {
        @apply mt-8;
    }

    list-style: none;

    main {
        font-size: clamp(1rem, 0.36vi + 0.93rem, 1.10rem);
     }
    
}

/* styles for dangerously set HTML from API */

.analysis-text {
    margin-bottom: 1rem;
}

.analysis-link {
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;
    text-shadow: 1px 1px 1px #000000;

    &:hover {
        color: #c636d9;
    }
}

.analysis-list {
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* loading spinner that loads incase the API is slow/down
all of the divs and pseudo selectors are needed to make the CSS
animations work for the loading spinner */

.lds-roller,
.lds-roller div,
.lds-roller div:after {
    box-sizing: border-box;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7.2px;
    height: 7.2px;
    border-radius: 50%;
    background: currentColor;
    margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 62.62742px;
    left: 62.62742px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 67.71281px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 70.90963px;
    left: 48.28221px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 70.90963px;
    left: 31.71779px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 67.71281px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 62.62742px;
    left: 17.37258px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12.28719px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



/* Browser Scrollbar styles */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #171717;
}

*::-webkit-scrollbar-thumb {
    background-color: #525252;
    border-radius: 6px;
}

/* custom cursor CSS */

.cursor-dot {
    z-index: 999999999;
    height: 1rem;
    width: 1rem;
    border-radius: 9999px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: currentColor;
    pointer-events: none;
}

.circle {
    z-index: 999999999;
    height: 1rem;
    width: 1.25rem;
    border-radius: 9999px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border: 2px solid currentColor;
    opacity: 0;
    transition: all 600ms ease-out;
    pointer-events: none;
}

.circle.hovered {
    z-index: 999999999;
    height: 2.5rem;
    width: 2.5rem;
    opacity: 1;
    cursor: none;
}

/* Need custom CSS for super annoying swiper because 
classes are hidden inside the carousel component so there's 
nothing to tailwind */

span.swiper-pagination-bullet {
    background: currentColor;
}

span.swiper-pagination-bullet-active {
    background: #c636d9;
}

div.swiper-button-next::after {
    color: currentColor;
}
div.swiper-button-prev::after {
    color: currentColor;
}

/* Animation/transitions for scroll down arrow */

/* Scroll down indicator */
.scroll-indicator {
    @apply block w-4 h-4 md:w-5 md:h-5 border-b-2 border-r-2 border-current transform rotate-45 -my-2.5  ml-9 animate-scrollDown;
}

.scroll-indicator:nth-child(2) {
    animation-delay: 0.2s;
}

.scroll-indicator:nth-child(1) {
    animation-delay: 0.4s;
}

.animate-scrollDown {
    animation: scrollDown 2s infinite;
}

@keyframes scrollDown {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-15px, -15px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(15px, 15px);
    }
}

.hero-text {
    margin: 0 auto;
}

/* Colours for dev/design */

.design-color {
    color: #ff8f1f;
    text-shadow: 3px 3px 3px #000000;
}
.dev-color {
    color: #c636d9;
    text-shadow: 3px 3px 3px #000000;
}
.other-color {
    color: #fafafa;
    text-shadow: 3px 3px 3px #000000;
}

/* left + right section animation  */

.fade-in-slide-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in-slide-up 1s forwards ease-out;
}

@keyframes fade-in-slide-up {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* for splitscreen display */

@media (min-width: 1024px) {
    #right {
        min-height: 100vh;
    }
}


 /* ---- tsparticles container  ---- */

#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* for scroll offset for all single sections */

.single-section:target {
    scroll-margin-top: 20px;
}

/* making sure loading spinner takes up 100% of viewport */
.loading-section {
    height: 100dvh;
}